<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81741530087-60cglmvhbda38n8gl0uel1oev9rh67go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81741530087-60cglmvhbda38n8gl0uel1oev9rh67go</string>
	<key>API_KEY</key>
	<string>AIzaSyDI-hV7b3Ah5jBqFGOAdgMdiQ9qZk-69uM</string>
	<key>GCM_SENDER_ID</key>
	<string>81741530087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Anspire.Sahmak</string>
	<key>PROJECT_ID</key>
	<string>sahmak-3476d</string>
	<key>STORAGE_BUCKET</key>
	<string>sahmak-3476d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81741530087:ios:0ded569902eea8662bb342</string>
</dict>
</plist>